/* common */
.markItUp * {
  margin:0px;
  padding:0px;
  outline:none;
}
.markItUp a:link,
.markItUp a:visited {
  color:#000;
  text-decoration:none;
}
.markItUp textarea {
  margin-top:0 !important;
  display:block;
}
.markItUpContainer  {
  font:11px Verdana, Arial, Helvetica, sans-serif;
}
.markItUpEditor {
  font:12px 'Courier New', Courier, monospace;
  padding:5px;
  overflow:auto;
}
.markItUpHeader {
  display:inline-block;
}
.markItUpHeader ul:first-child {
  padding:2px 5px;
  min-height:22px;
  margin-bottom:2px;
  border-radius:2px;
  background:url('images/bg-header.png') repeat-x;
}
.markItUpFooter {
  display:none;
}

/* first row of buttons */
.markItUpHeader ul li  {
  list-style:none;
  float:left;
  position:relative;
  margin:0 !important;
}
.markItUpHeader ul li:hover > ul{
  display:block;
}
.markItUpHeader ul .markItUpDropMenu {
  background:transparent url('images/menu.png') no-repeat 120% 100%;
  margin-right:5px;
}
/* next rows of buttons */
.markItUpHeader ul ul {
  display:none;
  position:absolute;
  top:22px; left:0px;  
  background:#FFF;
  border:1px solid #444;
  border-radius:5px;
}
.markItUpHeader ul ul li {
  float:none;
  margin:0px;
}
.markItUpHeader ul .markItUpSeparator {
  margin:2px 10px !important;
  width:1px;
  height:16px;
  overflow:hidden;
  background-color:#CCC;
  color:#ccc;
}
/* links */
.markItUpHeader ul a {
  display:block;
  width:16px;
  height:16px;
  text-indent:-10000px;
  padding:2px;
  border:1px solid transparent;
}
.markItUpHeader ul a:hover {
  border-color:#08e;
}
.markItUpHeader ul ul a {
  display:block;
  text-indent:0;
  border:0;
}

/* icons definitions */
.miuIcon>a {
  background:url('images/icons.png') 20px 20px no-repeat;
}

.miuBold>a {
  background-position:0px 0px;
}
.markItUp .miuItalic>a {
  background-position:-20px 0px;
}
.markItUp .miuUnderline>a {
  background-position:-40px 0px;
}
.markItUp .miuStroke>a {
  background-position:-60px 0px;
}

.markItUp .miuParagraph>a {
  background-position:0px -20px;
}
.markItUp .miuCenter>a {
  background-position:-20px -20px;
}
.markItUp .miuRight>a {
  background-position:-40px -20px;
}

.markItUp .miuListUL>a {
  background-position:0px -40px;
}
.markItUp .miuListOL>a {
  background-position:-20px -40px;
}
.markItUp .miuListLI>a {
  background-position:-40px -40px;
}

.markItUp .miuPicture>a  {
  background-position:0px -60px;
}
.markItUp .miuLink>a {
  background-position:-20px -60px;
}
.markItUp .miuMail>a {
  background-position:-40px -60px;
}
.markItUp .miuQuote>a {
  background-position:-60px -20px;
}

/* sizes */
.markItUp .miuSize>a {
  background-position:-60px -40px;
}
  .markItUpHeader ul .miuSize li {
    border-bottom:1px solid #444;
    border-radius:2px;
  }
  .markItUpHeader ul .miuSize li a {
    width:auto; 
    padding:2px 5px;
    background-position:2px 50%;
    height:auto;
  }
  .markItUpHeader ul .miuSize li a:hover  {
    color:#FFF;
    background-color:#000;
  }
  .markItUp .miuSizeTiny {
    font-size:7px;
  }
  .markItUp .miuSizeSmall {
    font-size:9px;
  }
  .markItUp .miuSizeNormal {
    font-size:12px;
  }
  .markItUp .miuSizeLarge {
    font-size:18px;
  }
  .markItUp .miuSizeHuge {
    white-space:nowrap;
    font-size:24px;
  }

/* colors */
.markItUp .miuColors>a {
  background-position:-60px -60px;
}
  .markItUp .miuColors ul {
    width:81px;
    padding:1px;  
  }
  .markItUp .miuColors  li {
    border:1px solid white;
    width:25px;
    height:25px;
    overflow:hidden;
    padding:0px;
    margin:0px;
    float:left;
    border-radius:2px;
  }
  .markItUp .miuColors ul a {
    width:25px;
    height:25px;
    text-indent:-10000px;
  }
  .markItUp .miuColors li:hover {
    border:1px solid #08e;
  }
  
  .markItUp .miuColors .col1-1 a { background:yellow; }
  .markItUp .miuColors .col1-2 a { background:orange; }
  .markItUp .miuColors .col1-3 a { background:red; }
  
  .markItUp .miuColors .col2-1 a { background:blue; }
  .markItUp .miuColors .col2-2 a { background:purple; }
  .markItUp .miuColors .col2-3 a { background:green; }
  
  .markItUp .miuColors .col3-1 a { background:white; }
  .markItUp .miuColors .col3-2 a { background:gray; }
  .markItUp .miuColors .col3-3 a { background:black; }